---
import type { GetStaticPaths, Page } from 'astro'
import type { CollectionEntry } from 'astro:content'

import { Paginator, PostPreview } from 'astro-pure/components/pages'
import { getBlogCollection, getUniqueTagsWithCount, sortMDByDate } from 'astro-pure/server'
import { Button, Icon } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import config from '@/site-config'

export const prerender = true

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const allPosts = await getBlogCollection()
  const allPostsByDate = sortMDByDate(allPosts)
  const uniqueTags = getUniqueTagsWithCount(allPostsByDate).map(([tag]) => tag)

  return uniqueTags.flatMap((tag) => {
    const filterPosts = allPostsByDate.filter((post) => post.data.tags.includes(tag))
    return paginate(filterPosts, {
      pageSize: config.content.blogPageSize,
      params: { tag },
      props: { uniqueTags, collectionsCount: filterPosts.length }
    })
  })
}

interface Props {
  page: Page<CollectionEntry<'blog'>>
  uniqueTags: string[]
  collectionsCount: number
}

const { page, uniqueTags, collectionsCount } = Astro.props
const { tag } = Astro.params

const meta = {
  description: `View all posts with the tag - ${tag}`,
  title: `Tag: ${tag}`
}

const paginationProps = {
  ...(page.url.prev && {
    prevUrl: {
      text: `← Previous`,
      url: page.url.prev
    }
  }),
  ...(page.url.next && {
    nextUrl: {
      text: `Next →`,
      url: page.url.next
    }
  })
}
---

<PageLayout {meta}>
  <Button title='Back' href='/blog' variant='back' />
  <main class='mt-6 lg:mt-10'>
    <div id='content-header' class='animate'>
      <h1 class='mb-6 mt-6 text-3xl font-medium sm:mt-10'>{tag}</h1>
    </div>
    {
      page.data.length === 0 ? (
        <p>No posts yet.</p>
      ) : (
        <div class='grid gap-y-16 sm:grid-cols-[3fr_1fr] sm:gap-x-8'>
          <section aria-label='Blog posts list' class='animate' id='content'>
            {/* header */}
            <div class='mb-3 flex flex-col justify-between text-sm sm:mb-5 sm:flex-row'>
              <span class='text-muted-foreground'>
                Page {page.currentPage} - Showing {page.data.length} of {collectionsCount} posts
              </span>
              <a aria-label='View all blog by years' href={`/archives?filter=${tag}`} data-astro-prefetch>
                View all posts by years →
              </a>
            </div>
            {/* posts */}
            <ul class='flex flex-col gap-y-4 text-start'>
              {page.data.map((post) => (
                <PostPreview {post} detailed />
              ))}
            </ul>
            <Paginator {...paginationProps} />
          </section>

          {/* sidebar */}
          {!!uniqueTags.length && (
            <aside class='animate' id='sidebar'>
              <h2 class='mb-4 flex items-center text-lg font-medium'>
                <Icon name='tag-2' class='me-2' />
                Tags
              </h2>
              <ul class='text-bgColor flex flex-wrap gap-2'>
                {
                  uniqueTags.slice(0, 50).map((t) => (
                    <li>
                      <Button
                        title={t}
                        href={`/tags/${t}`}
                        variant='pill'
                        class={t === tag ? 'bg-primary text-white border-primary' : ''}
                      />
                    </li>
                  ))
                }
              </ul>
              <span class='mt-4 block sm:text-end'>
                <a aria-label='View all blog categories' href='/tags' data-astro-prefetch>
                  View all →
                </a>
              </span>
            </aside>
          )}
        </div>
      )
    }
  </main>
</PageLayout>
